extends ../../../templates/temp.pug


block content
                            .row
                                .col-md-12
                                  .card
                                    each place in placetab
                                      .card-block
                                          | Total Number Of Places
                                          .div(style="float:right")
                                            | #{place.CNT}
                            .row
                              .col-md-6
                                .card
                                  each count in manilatab
                                    .card-block
                                        | Manila
                                        .div(style="float:right")
                                          | #{count.CNT}
                                        hr(style="margin:0;")
                                  each qc in qctab
                                    .card-block
                                        | Quezon City
                                        .div(style="float:right")
                                          | #{qc.CNT}
                                        hr(style="margin:0;")
                                  each pasig in pasigtab
                                    .card-block
                                        | Pasig City
                                        .div(style="float:right")
                                          | #{pasig.CNT}
                                        hr(style="margin:0;")
                                  each marikina in marikinatab
                                    .card-block
                                        | Marikina
                                        .div(style="float:right")
                                          | #{marikina.CNT}
                                        hr(style="margin:0;")
                                  each sanjuan in sanjuantab
                                    .card-block
                                        | San Juan City
                                        .div(style="float:right")
                                          | #{sanjuan.CNT}
                                        hr(style="margin:0;")
                                  each manda in mandatab
                                    .card-block
                                        | Mandaluyong City
                                        .div(style="float:right")
                                          | #{manda.CNT}
                                        hr(style="margin:0;")
                                  each valen in valentab
                                    .card-block
                                        | Valezuela City
                                        .div(style="float:right")
                                          | #{valen.CNT}
                                        hr(style="margin:0;")
                                  each nav in navotastab
                                    .card-block
                                        | Navotas City
                                        .div(style="float:right")
                                          | #{nav.CNT}
                                        hr(style="margin:0;")
                              .col-md-6
                                .card
                                  each mal in malabontab
                                    .card-block
                                        | Malabon City
                                        .div(style="float:right")
                                          | #{mal.CNT}
                                        hr(style="margin:0;")
                                  each tag in taguigtab
                                    .card-block
                                        | Taguig City 
                                        .div(style="float:right")
                                          | #{tag.CNT}
                                        hr(style="margin:0;")
                                  each pat in paterostab
                                    .card-block
                                        | Pateros City
                                        .div(style="float:right")
                                          | #{pat.CNT}
                                        hr(style="margin:0;")
                                  each pas in pasaytab
                                    .card-block
                                        | Pasay City
                                        .div(style="float:right")
                                          | #{pas.CNT}
                                        hr(style="margin:0;")
                                  each paran in parantab
                                    .card-block
                                        | Parañaque City
                                        .div(style="float:right")
                                          | #{paran.CNT}
                                        hr(style="margin:0;")
                                  each munti in muntinlupatab
                                    .card-block
                                        | Muntinlupa City
                                        .div(style="float:right")
                                          | #{munti.CNT}
                                        hr(style="margin:0;")
                                  each mak in makatitab
                                    .card-block
                                        | Makati City
                                        .div(style="float:right")
                                          | #{mak.CNT}
                                        hr(style="margin:0;")
                                  each las in lastab
                                    .card-block
                                        | Las Piñas City
                                        .div(style="float:right")
                                          | #{las.CNT}
                                        hr(style="margin:0;")







         

